@{
  Layout = "_Layout";
}

@using PierresBakeryMvc.Models;

<div class="container">
  <div class="centered-content">
    <h1>@Model["vendor"].VendorName</h1>
      <div class="form-row">
        <div class="form-group col-md-12 text-center">
          <p>@Model["vendor"].VendorAddress, @Model["vendor"].VendorAddress2, @Model["vendor"].VendorCity, @Model["vendor"].VendorState, @Model["vendor"].VendorZip </p>
        </div>
      </div>
      <div class="form-row text-center">
        <div class="form-group col-md-12">
          <a href='/vendors/@Model["vendor"].Id/orders/new'>ADD NEW ORDER</a>
        </div>
      </div>
      <div class="form-row">
          <div class="form-group col-md-12">
            @foreach (Order order in @Model["orders"])
            {
              <div class="card text-center overflow">
                <div class="card-header">
                  <p><a href='/vendors/@Model["vendor"].Id/orders/@order.Id'>ORDER NO. @order.Id</a></p>
                </div>
                <div class="card-body">
                  <h5 class="card-title">@order.OrderTitle</h5>
                  <p class="card-text">ORDERED BY: @order.OrderPlacedBy</p>
                  <p class="card-text">ORDER TOTAL: $@order.OrderPrice</p>
                  @* <p class="card-text">@order.OrderDescription</p> *@
                </div>
                <div class="card-footer text-muted">
                  <p>ORDER DATE: @order.Date</p>
                </div>
              </div>
            }
          </div>
      </div>
  </div>
</div>

<div class="footer">
  <div class="container">
    <div class="row">
      <div class="col-xs-4">
        <p><a href="/vendors" role="button">RETURN TO VENDORS</a></p>
      </div>
      <div class="col-xs-4">
        <p>COPYRIGHT &copy; <a href = "mailto: chloeloveall@protonmail.com">CHLOE LOVEALL</a> 2021</p>
      </div>
      <div class="col-xs-4">
        <p><a href="/" role="button">RETURN TO HOME</a></p>
      </div>
    </div>
  </div>
</div>